* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
background-color: #28282B;
  color: #FFFFFF;
  justify-content: space-between;
  align-items: center;
}

body {
  background: linear-gradient(#009FFD, #2A2A72);
  min-height: 100vh;
  color: white;
  font-size: 50px;
  font-family: 'Source Sans Pro', sans-serif;
}

.project {
  width: 90vw;
  height: 300px;
  background-color: #28282B;
  border-radius: 20px;
  margin: 5rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.button-24 {
  background: #FF4742;
  border: 1px solid #FF4742;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 16px;
  min-height: 45px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.button-24:hover,
.button-24:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.button-24:active {
  opacity: .5;
}

i {
  cursor: pointer;
}

.description {
  font-size: 23px;
}

.reverb-title {
  color: #0cbaba;
}

.mike-title {
  color: rgb(255, 111, 135);
}

.scheduler-title {
  color: rgb(150, 150, 150);
}

.bnb-title {
  color: #ff5a5f;
}